{% extends 'base.html' %} {% block content %} {% include 'navbar.html' %}
<!--Start of Home page  -->
<div class="home-page container-fluid">
  <div>
    <p>Why ABC ?</p>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>
    <a href="/booknowform" class="btn btn-lg fs-4">Book Now</a>
  </div>
</div>
<!-- End of Home page -->

<!-- Start of services page -->
<div class="services-page container-fluid">
  <div>
    <h1 class="text-center heading">Services</h1>
  </div>
  <div class="services">
    {% for i in response %}
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title fs-3 fw-semibold">{{i.title}}</h5>
        <p class="card-text fs-6 fw-lighter">{{i.brief_Desc}}</p>
        <a href="#" class="btn btn-lg">Learn more</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- End of services page -->

<!-- Star of Blog page -->
<div class="blogs-page container-fluid">
  <div><h1 class="text-center heading">Blogs</h1></div>
  <div class="blogs">
    {% for i in response2 %}
    <div class="card text-center" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title fs-3 fw-semibold">{{i.card_title}}</h5>
        <p class="card-text fs-6 fw-lighter">{{i.card_text}}</p>
        <a href="{{i.card_link}}" class="btn btn-lg">Learn More</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- End of Blog page -->

<!-- Start of Food Care -->
<div class="food-care-page container-fluid">
  <h1 class="text-center heading">Food Care</h1>
  <div class="food-care-blogs">
    {% for i in response3 %}
    <div class="card text-center" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title fs-3 fw-semibold">{{i.card_title}}</h5>
        <p class="card-text fs-6 fw-lighter">{{i.card_text}}</p>
        <a href="{{i.card_link}}" class="btn btn-lg">Learn More</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- End of Food care page -->

<!-- Start of Contact page -->
<div class="contact-page">
  <h1 class="text-center heading">Contact us</h1>

  <div class="contact-details container">
    <div class="social-contact">
      <a href="https://www.facebook.com/"
        ><i class="bi bi-facebook fs-3" style="color: #1877f2"></i
      ></a>
      <a href="https://web.whatsapp.com/"
        ><i class="bi bi-whatsapp fs-3" style="color: #25d366"></i
      ></a>
      <a href="https://www.instagram.com/"
        ><i class="bi bi-instagram fs-3" style="color: #e1306c"></i
      ></a>
      <a href="https://web.telegram.org/"
        ><i class="bi bi-telegram fs-3" style="color: #0088cc"></i
      ></a>
    </div>
    <div class="contact-form">
      <form class="form-control">
        <h3 class="text-center">Feedback form</h3>

        <input
          type="text"
          class="form-control"
          placeholder="Enter your first name"
          name="firstname"
          required
        />
        <input
          type="text"
          class="form-control form-control-sm"
          placeholder="Enter your Last name"
          name="lastname"
          required
        />
        <input
          type="email"
          class="form-control form-control-sm"
          placeholder="Enter your email id"
          name="emailid"
          required
        />
        <input
          type="tel"
          class="form-control form-control-sm"
          placeholder="Enter your Phone number"
          name="phoneno"
          required
        />
        <input
          type="text"
          class="form-control form-control-sm"
          placeholder="Enter your Address"
          name="address"
          required
        />

        <button type="submit" href="/" class="btn" id="submitbtn">
          <div ></div>
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
<!-- End of Contact page -->
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<script>
</script>

{% endblock %}
